<html lang="de" data-namespace-typo3-fluid="true">
<div class="cookiebanner">
    <p>
        Cookies akzeptiert.
    </p>
    <p>
        <f:link.action action="reset">Sie können hier die Einstellungen ändern.</f:link.action>
    </p>
</div>
</html>