<html lang="de" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form action="update" method="POST">
    <f:for each="{settings.cookies}" as="cookie">
        <div>
            <f:form.checkbox id="checkbox-{cookie.key}" name="selectedCookies[]" value="{cookie.key}">
            </f:form.checkbox>
            <label for="checkbox-{cookie.key}">
                {cookie.label}
            </label>
        </div>
    </f:for>
    <f:form.submit value="Submit">
    </f:form.submit>
</f:form>
</html>
