<html lang="de" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{decisionExist}">
    <f:then>
        <f:render partial="Accepted">
        </f:render>
    </f:then>
    <f:else>
        <f:render partial="Form">
        </f:render>
    </f:else>
</f:if>
</html>